* {
    box-sizing: border-box;
}
div {
 /*   background-color: #00ffff;   */
}
p {
    width: 50%;
/*    border: 1px solid black;       */
    float: left;
    padding: 10px;
}

#p1 {
 /*   background-color: #a52a2a;   */
}

#p2 {
/*    background-color: #DEB887;      */
}

section {
    clear: left;
}